<nav class="navbar navbar-dark bg-dark center">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.svg" width="200" alt="">
    </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%if (loggedIn==true) {%>
          <a class="nav-link" href="/users/logout">Logout</span></a>
        <%}else{%>
          <a class="nav-link" href="/users/login">Login</span></a>
        <%}%>
        
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/users/registration">Register</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
    </ul>
  </div>
</nav>