<a class="navbar-brand" href="/">
  <img src="/images/logo.svg" width="200" alt="" />
</a>

<div class="lowernavbar">
  <a href="/">Home</a>
  <% if (loggedIn == true) { %>
    <a href="/users/logout">Logout</a>
  <% } else { %>
    <a href="/users/login">Login</a>
  <% } %>
  <a href="/users/registration">Register</a>
</div>