.navbar {
  min-height: 80px;
  text-align: center;
}

.navbar-brand {
  float: none;
}
.navbar-brand img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* to remove the bullet points on nav bar */
.navbar-nav li {
  list-style: none;
}

/* Style for the login/logout button */
.btn-login {
  background-color: #1a67b4c7;
  color: #fff;
  margin-right: 10px;
}

/* Style for the register button */
.btn-register {
  background-color: #1a67b4c7;
  color: #fff;
  margin-right: 10px;
}

/* format the button style */
#login-button,
#register-button,
#add-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav {
  display: flex;
  padding-left: 80vw;
}

.form-group a{
  color: #6b6b6b;
}
.form-group a:hover{
 text-decoration: none;
}
.contaner{
  width:400px;
}