<div class="container">
    <h1 class="text-center text-muted">CREATE NEW LOG</h1>
    <form class="well form-horizontal" action="/add" method="POST">
        <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" class="form-label" for="CreatedDate">Date</label>  
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="date" class="form-control" id="CreatedDate" name="CreatedDate" placeholder="DD/MM/YYYY" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="LogNo">Log Number</label>  
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="	glyphicon glyphicon-asterisk"></i></span>
                    <input id="LogNo" name="LogNo" placeholder="Log Number" class="form-control"  type="text" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="ItemDesc">Item Description</label>
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                      <textarea class="form-control" id="ItemDesc" name="ItemDesc" placeholder="Item Description" required></textarea>
             </div>
             </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" class="form-label" for="TurnedInBy">Turned In By</label>  
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="TurnedInBy" name="TurnedInBy" placeholder="Turned In By" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning" >Add <span class="glyphicon glyphicon-send"></span></button>
              <button type="button" id="cancel" class="btn btn-default"><a href="../">Cancel <span class="glyphicon glyphicon-remove"></span></a></button>
            </div>
        </div>
    </fieldset>
    </form>
</div>