<div class="container">
    <h1 class="text-center text-muted">REGISTRATION</h1>
    <div class="form_container">
        <form action="/users/registration" method="POST" onsubmit="return validatePassword()" autocomplete="off">
            <hr>
            <div class="row form-group">
                <div class="col-xs-6 col-md-6">
                    <input type="text" class="form-control" id="first_name" name="first_name" required autofocus
                        placeholder="First Name">
                </div>
                <div class="col-xs-6 col-md-6">
                    <input type="text" class="form-control" id="last_name" name="last_name" required autofocus
                        placeholder="Last Name">
                </div>
            </div>
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
            </div>
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required>
            </div>
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                    placeholder="Confirm Password" required>
            </div>
            <div class="row">
                <p class="text-center text-danger promptMessage">
                    <%= reg_message %>
                </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group">
                <button type="submit" class="btn btn-1g btn-block btn-warning" >Register <span class="glyphicon glyphicon-send"></span></button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 form-group">
                <button type="button" id="cancel" class="btn btn-1g btn-block btn-default"><a href="../">Cancel <span class="glyphicon glyphicon-remove"></span></a></button>
            </div>
        </form>
    </div>
</div>

<script>
    //Check the consistency of password and confirm password
    function validatePassword(){
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        if (password !== confirmPassword){
            Swal.fire("Please make sure your passwords match");
            return false;
        }
        return true;
    }
</script>