<div class="container">
    <h1>Registration</h1>

    <form action="/users/registration" method="POST" onsubmit="return validatePassword()">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Create User</button>
        <button type="button" class="btn btn-secondary"><a href="../">Cancel</a></button>
    </form>
    <p class="text-center" class="font-weight-bold">
        <%= reg_message %>
    </p>
</div>

<script>
    // Check the consistency of password and confirm password
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
    
        if (password !== confirmPassword) {
            Swal.fire("Password and confirm password must match to continue.");
            return false;
        }
        return true
    }
</script>